footer {
  background-color: #f2f2f2;
  width: 1420px;
}

footer #link {
  justify-content: flex-start;
  padding-left: 45px;
  gap: 250px;
}

footer h4 {
  font-weight: bold;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer li {
  margin-top: 15px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0065fc;
}

@media all and (max-width: 767px) {
  footer {
    width: auto;
    padding-bottom: 30px;
  }

  footer #link {
    flex-direction: column;
    width: auto;
    padding-left: 30px;
    padding-top: 15px;
    gap: 0px;
  }

  footer a:active {
    color: #0065fc;
  }
}

@media all and (max-width: 1199px) and (min-width: 768px) {
  footer {
    width: 100%;
  }

  footer #link {
    gap: 200px;
  }
  footer a:active {
    color: #0065fc;
  }
}
