main header {
  margin-top: 10px;
  flex-direction: column;
  width: auto;
  min-width: 1100px;
}

/* H1 + p */

main h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 10px;
}

#sentence {
  margin-top: 0px;
}

/* SearchBar */

.fa-map-marker-alt {
  display: flex;
  font-size: 1em;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding-left: 2px;
}

#search input {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 15px;
  width: 220px;
}

#search {
  align-items: center;
  margin-top: 25px;
}

#search button {
  color: white;
  background-color: #0065fc;
  height: 45px;
  width: 145px;
  border: none;
  font-size: 1.1em;
  border-radius: 0 15px 15px 0;
}

#search *:focus {
  outline: none;
}

#search button:active {
  background-color: #024dbc;
}

#searchBox {
  height: 39px;
  border: 2px solid #f2f2f2;
}

/* Filter */

#filter {
  justify-content: space-between;
  max-width: 900px;
  margin-top: 30px;
  align-items: center;
  flex-wrap: wrap;
}

#filter .fas {
  color: #0065fc;
  background-color: #deebff;
  min-height: 45px;
  min-width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 22.5px;
  padding-left: 0px;
}

#filter h3,
.filt p {
  font-weight: bold;
}

.filt {
  align-items: center;
  border: #d9d9d9 2px solid;
  height: 41px;
  border-radius: 22.5px;
  border-left: none;
  margin-right: 20px;
}

.filt p {
  padding-left: 20px;
  padding-right: 20px;
}

.filt:hover {
  color: white;
  background-color: #0065fc;
}

/* Info */

#info {
  align-items: center;
  margin-top: 20px;
}

#info p {
  padding-left: 20px;
}

#info i {
  font-size: 0.8em;
  color: #0065fc;
  border: 1px #d9d9d9 solid;
  border-radius: 10px;
  min-width: 20px;
  min-height: 20px;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 767px) {
  main header {
    margin-top: 0px;
    padding-left: 10px;
    min-width: 0px;
  }
  #filter {
    flex-direction: column;
    align-items: flex-start;
  }

  #filterdiv {
    flex-wrap: wrap;
  }

  .filt {
    margin-top: 15px;
  }

  #search {
    width: auto;
  }

  #searchBox {
    border-right: none;
    width: auto;
    min-width: 100px;
  }

  .fa-map-marker-alt {
    min-width: 45px;
    min-height: 45px;
  }

  button span {
    display: none;
  }

  button::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
  }

  #search button {
    width: 45px;
    min-width: 45px;
    border-radius: 10px;
    position: relative;
    right: 10px;
  }

  #search input,
  #searchBox {
    width: 100%;
  }

  .filt:active {
    color: white;
    background-color: #0065fc;
  }
}

@media all and (max-width: 1199px) and (min-width: 768px) {
  .filt:active {
    color: white;
    background-color: #0065fc;
  }

  main header {
    min-width: 0px;
  }
}

/* @media all and (max-width: 1323px) and (min-width: 1200px) {
  main header {
    padding: 2%;
  }
} */
