main h2 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 10px;
}
main header {
  margin-top: 30px;
  /* border: 1px solid black; */
}
#sentence {
  margin-top: 0px;
}
.fa-map-marker-alt {
  display: flex;
  font-size: 1em;
  /* border: 1px solid black; */
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding-left: 2px;
}

main input {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 15px;
  width: 220px;
}

#search {
  align-items: center;
  margin-top: 25px;
}

#search button {
  color: white;
  background-color: #0065fc;
  height: 45px;
  width: 145px;
  border: none;
  font-size: 1.1em;
  border-radius: 0 15px 15px 0;
}

#search *:focus {
  outline: none;
}

#search button:active {
  background-color: #024dbc;
}

#searchBox {
  height: 39px;
  border: 2px solid #f2f2f2;
}
