main #artasi {
  justify-content: space-between;
}

article {
  background-color: #f2f2f2;
  padding: 40px;
  padding-top: 30px;
  border-radius: 25px;
}

article h3 {
  font-size: 1.3em;
  font-weight: bold;
}

main .price {
  font-weight: bold;
}

article .card {
  background-color: white;
  width: 245px;
  /* border: 1px red solid; */
  padding: 5px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article .image .cover {
  width: 245px;
  height: 125px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

article .desc {
  padding: 10px;
}

article .desc h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

article .desc p {
  font-size: 0.9em;
  margin-top: 0px;
  margin-bottom: 5px;
}

article .desc .on {
  color: #0065fc;
}

article .desc .off {
  color: #f2f2f2;
}

article #cards {
  display: grid;
  grid-template-columns: 245px 245px 245px;
  gap: 35px 50px;
}

article #more {
  margin-bottom: 0px;
  margin-top: 40px;
}

article #more a {
  font-weight: bold;
}

article a {
  text-decoration: none;
  color: black;
}

article .card:hover {
  border: 2px solid #0065fc;
}

article #more a:hover {
  color: #0065fc;
}
