* {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

#bloc_page {
  width: 70%;
  margin: auto;
}

@media all and (max-width: 767px) {
  #bloc_page {
    width: auto;
    margin-left: 76px;
    margin-right: 76px;
  }
}
